.popup__button {
    min-width: 358px;
    min-height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-top: 48px
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .popup__button {
        min-width: 238px;
        line-height: 17px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
    }
}


