.popup__close {
    position: absolute;
    cursor: pointer;
    z-index: 22;
    left: 435px;
    bottom: 335px;
}

.popup__close:hover {
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .popup__close {
        position: absolute;
        left: 250px;
    }
}