.profile__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin: 0;
    padding-top: 16px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}