.profile__info {
    justify-content: space-between;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    padding-right: 235px;

}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile__info {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        margin: 0;
        padding: 0;
    }
  }