.footer {
    padding-top: 67px;
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .footer {
        padding-bottom: 0;
        padding-top: 48px;
    }
}